@using Microsoft.AspNetCore.Http

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LIMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="shortcut icon" type="image/x-icon" href="~/favicon.png" />
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex sticky-top">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (Context.Session.GetString("accountType") == "user")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Profile">@Context.Session.GetString("firstName")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Login?action=logout">Logout</a>
                            </li>
                        }
                        else if (Context.Session.GetString("accountType") == "employee")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Employee">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Login?action=logout">Logout</a>
                            </li>
                        }
                        else if (Context.Session.GetString("accountType") == "manager")
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Employee">Employee</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-page="/Manager">Manager</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" href="/Login?action=logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                            </li>
                        }

                    </ul>
                    <form class="form-inline" method="get" action="~/Search">
                        <div class="input-group">
                            <input type="search" class="form-control" id="search" name="search" placeholder="Type here to search...">
                            <select class="form-control custom-select" id="filter" name="filter">
                                <option selected value="title">Filter by...</option>
                                <option value="title">Title</option>
                                <option value="author">Author</option>
                                <option value="genre">Genre</option>
                            </select>
                            <button class="form-control btn btn-outline-success" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <div id="toaster" style="position: sticky; top: 20px; right: 20px; z-index:100 !important;"></div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - LIMS - CS4430 - Group 11 - Final Project
        </div>
    </footer>

    @RenderSection("Scripts", required: false)
</body>
</html>
