@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div id="content-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner border">
            @foreach (var item in Model.CarouselList)
            {
                <div id="@item.ISBN" class="carousel-item">
                    <img src="~/images/@item.ImagePath" class="d-block w-50" alt="" style="cursor: pointer; max-height: 500px;">
                </div>
            }
            <script>
                $(".carousel-item").first().addClass("active");
                $(".carousel-item img").on('click', function () {
                    var isbn = $(this).parent().attr('id');
                    window.location = "Item?isbn=" + isbn; 
                });
            </script>
        </div>
        <a class="carousel-control-prev" href="#content-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon h3" style="color: black;"><</span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#content-carousel" role="button" data-slide="next">
            <span class=" carousel-control-next-icon h3" style="color: black;">></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
